<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605164108684-dosofh1fld94nnbp058fjdddhdn5164r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605164108684-dosofh1fld94nnbp058fjdddhdn5164r</string>
	<key>API_KEY</key>
	<string>AIzaSyBE0GQfd2t6z0UFgC2-AaKky7E98V2bk1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>605164108684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codingclub</string>
	<key>PROJECT_ID</key>
	<string>laptopapp-c7917</string>
	<key>STORAGE_BUCKET</key>
	<string>laptopapp-c7917.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605164108684:ios:ef24553b4e18cf3d05b4a9</string>
</dict>
</plist>